@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="AppTest">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    @Styles.Render("~/Default/css")
</head>
<body>
    <div ng-controller="LoginController">
        @RenderBody()
    </div>
</body>
</html>
