body {
  padding-top: 70px;
  background-color: #f1f1f1;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* transition place holder right from the focus */
/*.form-signin input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.form-signin input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.form-signin input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.form-signin input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.form-signin input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.form-signin input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.form-signin input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.form-signin input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}*/

input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.dropdown-toggle {
    cursor: default;    
}

.page {
    border: 1px solid #ddd;
}

.page-content { 
    width: 100%;
}

.page-elem {
    margin-left: 5px;
    padding-top: 10px;
    cursor: move;
}

.options .nav-tabs>li.active>a, .code .nav-tabs>li.active>a:hover, .code .nav-tabs>li.active>a:focus {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
}

/*.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    background-color: #f8f8f8;
}*/

.doc-elem {
    position: absolute !important;
    border: 1px solid #115d81;
    cursor: move;
    background-color: #D9F1FE;
    opacity: 0.7;
    filter: alpha(Opacity=70);
    display: flex;
}

.doc-elem .elem-text {
    font-family: 'Alexander';
    font-size: 0.85em;
    text-align: center;
    text-transform: lowercase;
    margin: auto;
}

.elem-del {
    cursor: pointer !important;
}

.docs-elem {
     margin-bottom: 15px; padding: 10px;   
}

.tab {
    margin-top: 15px;
}

.line {
    margin-bottom: 10px;
}

.registration .row {
    padding-bottom: 10px;
}

.setup {
    padding-bottom: 10px;
}

.setup .parameter {
    width: 100px;
    text-align: left;
}

.chart {
    height: 200px;
    width: 200px;
}

.req {
    background-color: #FFABAB;
}

.ng-dirty {
    background-color: #BCFFAB;
}