<div>
    <li>
        <ul>
            <a><img src="~/Themes/Default/img/48x48/plus.png"/></a>
        </ul>
    </li>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Header1</th>
                <th>Header2</th>
                <th>Header3</th>
                <th>Header4</th>
                <th>Header5</th>
            </tr>
        </thead>
        <tr ng-repeat="doc in documents">
            
        </tr>
    </table>
</div>
      
