<div>
    <h2>Запросы</h2>
    <div class="container">
        <div class="row">
            <pagination total-items="vm.requests.length" ng-model="vm.currentPage"
                        max-size="vm.paginatorPages" class="pagination-sm pull-right" boundary-links="true"
                        items-per-page="vm.pageSize" rotate="false"
                        previous-text="Предыдущая страница" next-text="Следующая страница" first-text="Первая" last-text="Последняя">
            </pagination>
        </div>
        <div class="row">
            <table class="table table-hover">
                <tr>
                    <th ng-repeat="col in vm.colModel" style="min-width: 42px;">
                        <a href="" ng-click="vm.clickOnHeader(col.predicate)">{{col.name}}</a>
                        <i ng-show="vm.predicate == col.predicate" class="glyphicon" ng-class="vm.getSortOrder()"></i>
                    </th>
                </tr>
                <tr class="clickitem" ng-repeat="request in vm.requests 
                    | orderBy:vm.predicate:vm.reverse | startFrom: (vm.currentPage - 1) * vm.pageSize
                    | limitTo: vm.pageSize">
                    <td>{{request.id}}</td>
                    <td>{{request.date}}</td>
                    <td>{{request.status}}</td>
                    <td>{{request.sentTo}}</td>
                    <td>{{request.documents}}</td>
                    <td style="text-align: center;">
                        <a href="/Themes/Опуск_20152704_Валабаев.pdf">
                        <img ng-if="request.download" src="~/Themes/Default/img/24x24/down_arrow.png" style="cursor: pointer;" />    
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>